body {
    background-color: #441500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white
}

div {
    border: 10px solid black;
    display: inline-block;
    background-color: #AC2318
}

.title {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #AC2318;
    color: #FFFFFF;
    margin: auto;
    padding: 30px;
}

img {
    border-radius: 50%;
    border: 10px solid white;
}

.brand {
    background-color: #AC2318;
    height: 500px;
    width: 500px;
    display: inline-block;    
}

.store {
    height: 500px;
    width: 500px;
    display: inline-block; 
}

.colors {
    height: 600px;
    width: 575px;
    display: inline-block
}

.canvas {
    background-color: rgb(153, 153, 250);
    border: 5px solid black;
    width: 570px;
    height: 500px;
    position: relative;
}

.palette {
    background-color:black
    width: 500px;
    height: 440px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.maroon {
    background-color:#441500;
    width: 130px;
    height: 430px;
}

.red {
    background-color:#AC2318;
    width: 130px;
    height:430px;
}

.white {
    background-color:#FFFFFF;
    width: 130px;
    height: 430px;
}

h2 {
    text-align: center;
    color:#FFFFFF;
    font-family: monospace;
    margin: 0;
}

.white h2 {
    color: black;
}