body {
    background-color: #441500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white
}

div {
    border: 10px solid black;
    display: inline-block;
    background-color: #AC2318
}

.title {
    font-size: 60px;
    background-color: #AC2318;
    color: #FFFFFF;
    margin: auto;
    padding: 60px;
}

img {
    border-radius: 50%;
    border: 10px solid white;
}

.brand {
    background-color: #AC2318;
    height: 600px;
    width: 400px;
    display: inline-block;    
}

.store {
    height: 600px;
    width: 400px;
    display: inline-block; 
}