@font-face {
    font-family: 'Merriweather Black';
    src: url('./fonts/Merriweather-Black.ttf');
}

@font-face {
    font-family: 'Raleway Thin';
    src: url('./fonts/Raleway-VariableFont_wght.ttf');
}