nav {
    background-color: pink;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 2.0%;
    border: 5px black solid;
}

a {
    color: rgb(1, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
} 

body {
    font-family: 'Lato', sans-serif; 
    text-align: center; 
    margin-right: 170px;
    background-image: url("./images/background.jpg");
    }

img {
    border: 10px solid black;
    border-radius: 50%;
}

h1 {
    font-size: 100px;
    font-family: 'merriweather', 'Lato', sans-serif
}

h2 {
    margin-right: 270px;
    font-size: 50px;
}
  
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: pink;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: pink;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.img-conor-photo {
    float: left;
    padding-left: 4em;
    padding-top: 2em;
}

.img-services {
    border: none;
    border-radius: 0%;
    width: 500px
}

.video-services {
    width: 500px
}

.about {
    color:black;
    text-align: center;
    font-size: 40px;
    padding-left: 11em;
    padding-right: 11em;
}

.contact {
    color: black;
    text-align: center;
    font-size: 30px;
    padding: 100px;
    margin: auto;
}

.home {
    color:black;
    text-align: center;
    font-size: 40px;
    padding-left: 11em;
    padding-right: 11em;
    font-family: 'raleway' Arial, Helvetica, sans-serif
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .nav {width:fit-content; height: fit-content;}
    .sidenav{padding: 6px 8px 6px 16px}
    .img {width:fit-content; height:fit-content}
    .h1 {font-size: 70px}
    .h2 {font-size: 40px}
    .p {padding: 30px}
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .h1 {font-size: 50px}
    .h2 {font-size: 40px}
    .sidenav {padding: 3px 4px 3px 8px;}
    .img {width: 300px}
    .p {padding: 10px}
    .nav {width: fit-content; height: fit-content}
}

@media screen and (max-width: 360px) {
    .img {width: 200px; float: none; margin-left: 30px}
    .sidenav {padding: 3px 4px 3px 8px}
    .nav {width: fit-content; height: fit-content}
    .h1 {font-size: 30px;}
    .h2 {font-size: 25px}
    .p {padding: 10px}
}

